@use 'variables'
    
*
    padding: 0
    margin: 0
    font-family: variables.$font-stack
    box-sizing: border-box

html
    background-image: url('../img/background.png')
    background-repeat: no-repeat
    background-size: cover
    background-color: #1d1d1d
    background-attachment: fixed

    @media (min-width: 1600px)
        background-size: contain

body
    height: 100vh

a, svg
    transition: .4s